@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
    var homePage = Model.AncestorOrSelf<Home>();
 }
 
 <style>
    .Back{
        background: no-repeat center center;
        background-attachment: scroll;
        position: relative;
        background-size: cover;
        background-color: white;
    }
    
    .Back > .overlay{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(31, 3, 103, 0.80);
        z-index: 1;
    }
    .Back > .inner{
        position: relative;
        z-index: 2;
    }
    
</style>

<div class="jumbotron jumbotron-fluid Back" style="background-image:url('/Images/JbBack1.jpg')">
    <div class="overlay"></div>
    <div class="inner">
  <div class="container">
    <h1 class="display-4 text-white">@Model.Value("jumboHeader")</h1>
    <p class="lead text-white">@Model.Value("jumboSub")</p>
  </div>
  </div>
  
  
</div>