@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using Umbraco.Core.PropertyEditors.ValueConverters;

<!-- Latest News Articles -->
@{
	var latestNews = Umbraco.Content(Guid.Parse("c520a3da-1122-4aca-9d24-dc48abaf181f"))
    .ChildrenOfType("newsArticle")
    .Where(x => x.IsVisible())
    .OrderByDescending(x => x.CreateDate)
    .Take(3);
}

<div class="container" style="margin-top: 50px;">
    <div class="row">
        <div class="col">
            
            <div class="card-deck">
                @foreach(var item in latestNews)
                {
                    var imgCropper = item.Value<ImageCropperValue>("articleImage");
                    var thumbUrl = imgCropper.Src + imgCropper.GetCropUrl("Thumb");
                    
                    <div class="card" style="width: 18rem;">
                      <img class="card-img-top" src="@thumbUrl" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title">@item.Name</h5>
                        <p class="card-text">@item.Value("leadIn")</p>
                        
                      </div>
                      <div class="card-footer d-flex justify-content-between">
                          <div><a href="@item.Url">Read more</a></div>
                          <div class="social-icons text-muted">
                              <a class="ml-2 mr-2" href="https://twitter.com" target="_blank"><i class="fab fa-twitter"></i>
                              </a>
                              <a class="ml-2 mr-2" href="https://facebook.com" target="_blank"><i class="fab fa-facebook"></i>
                              </a>
                          </div>
                      </div>
                    </div>
                }

                                
            </div>
            
        </div>
    </div>
</div>